@model IEnumerable<TestCase2PHE.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @if (item.CompanyPhoto != null && item.CompanyPhoto.Length > 0)
                    {
                        var base64 = Convert.ToBase64String(item.CompanyPhoto);
                        <a href="#" onclick="displayImageModal('@base64')">
                            <img src="data:image/jpg;base64,@base64" width="100px" alt="Image" />
                        </a>
                    }
                    else
                    {
                        <!-- Handle the case where UploadImage is empty or null -->
                    }
                </td>
                <td>
                    @if (item.IsApproved == "pending")
                    {
                        <button class="btn btn-danger">@Html.DisplayFor(modelItem => item.IsApproved)</button>
                    }
                    else if (item.IsApproved == "proccess")
                    {
                        <button class="btn btn-warning">@Html.DisplayFor(modelItem => item.IsApproved)</button>
                    }
                    else if (item.IsApproved == "approve")
                    {
                        <button class="btn btn-success">@Html.DisplayFor(modelItem => item.IsApproved)</button>
                    }
                </td>
            </tr>

            index++;
        }
    </tbody>
</table>

<link rel="stylesheet" href="~/Content/table.css" asp-append-version="true" />
